<h1>Create List</h1>
<form action="/lists" method="post">
    <label for="name">Title: </label>
    <input type="text" name="name" id="name">
    
    <label for="content">Description: </label>
    <input type="text" name="content" id="content">

    <button type="submit">Create List</button>
</form>